.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.dot {
  stroke: #000;
}

/*
.legend {
  padding: 5px;
  font: 10px sans-serif;
  background: #bdbdbd;
  box-shadow: 2px 2px 1px #888;
  border-style: groove;
 }
*/
.legend {
  padding-left: 20px;
  font: 10px sans-serif;
  background: #F0F0F0;
 }

#legendPanel{
  background-color: #FFFFFF;
  height: 150px;
  width: 160px;
  overflow-y: scroll;
}
