.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.dot {
  stroke: #000;
}

/*
.legend {
  padding: 5px;
  font: 10px sans-serif;
  background: #bdbdbd;
  box-shadow: 2px 2px 1px #888;
  border-style: groove;
 }
*/
.legend {
  padding-left: 20px;
  font: 10px sans-serif;
  background: #F0F0F0;
 }

#legendPanel{
  margin-top: 1px;
  background-color: #FFFFFF;

}

/* Style The Dropdown Button */
.dropbtn {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
